div

  div.tile-offerinfo

    div.tile-description
      h5.tile-offertext {{listing.offerText}}
      p.tile-disclaimers {{listing.additionalDisclaimers}}

    div.tile-redemption
      button.icon-mobile
      button.icon-print

