div

  div.media

    div.media-img
      img.tile-logo(ng-src="{{getLogoSrc()}}")

    div.media-body
      h5.tile-businessname {{listing.businessName | titleCase}}
      p.tile-offertext {{listing.title}}
      p.tile-distance(ng-show="listing.selectedDetail.formattedDist") {{listing.selectedDetail.formattedDist}} miles away

    a.btn(ng-href="/listing/profile/{{listing.selectedDetail.bppId}}", ng-click="openDialog()") Gimme!

