div#device-sidebar

  nav#main-nav.device-navigation
    a(ng-href="/listings/category/all").
      All <span>(341)</span>
    a(ng-href="/listings/category/restaurants").
      Restaurants <span>(109)</span>
    a(ng-href="/listings/category/home-office").
      Home & Office <span>(57)</span>
    a(ng-href="/listings/category/services").
      Services <span>(60)</span>
    a(ng-href="/listings/category/automotive").
      Automotive <span>(36)</span>
    a(ng-href="/listings/category/entertainment-travel").
      Entertainment & Travel <span>(37)</span>
    a(ng-href="/listings/category/personal-care").
      Personal Care <span>(29)</span>
    a(ng-href="/listings/category/general").
      General <span>(18)</span>
    a(ng-href="/listings/category/health").
      Health <span>(34)</span>
    a(ng-href="/listings/category/shops").
      Shops <span>(32)</span>
  // end Category

div#sidebar

  // Category
  div.navigation
    ul
      li
        a(ng-href="/listings/category/all").
          All <span>(341)</span>
      li
        a(ng-href="/listings/category/restaurants").
          Restaurants <span>(109)</span>
      li
        a(ng-href="/listings/category/home-office").
          Home & Office <span>(57)</span>
      li
        a(ng-href="/listings/category/services").
          Services <span>(60)</span>
      li
        a(ng-href="/listings/category/automotive").
          Automotive <span>(36)</span>
      li
        a(ng-href="/listings/category/entertainment-travel").
          Entertainment & Travel <span>(37)</span>
      li
        a(ng-href="/listings/category/personal-care").
          Personal Care <span>(29)</span>
      li
        a(ng-href="/listings/category/general").
          General <span>(18)</span>
      li
        a(ng-href="/listings/category/health").
          Health <span>(34)</span>
      li
        a(ng-href="/listings/category/shops").
          Shops <span>(32)</span>
  // end Category

  // Filters
  div.navigation
    form
      ul
        li
          input(type="checkbox", ng-model="listingFilter.lists.vpPrintable")
          label Printable Coupons

        li
          input(type="checkbox", ng-model="listingFilter.lists.deals")
          label Purchase Deals

        li
          input(type="checkbox", ng-model="listingFilter.lists.sdc")
          label Coupon Codes

        li
          input(type="checkbox", ng-model="listingFilter.lists.grocery")
          label Grocery Coupons
  // end Filters