//div.user-module(ng-click="fblogin()")

//div.user-detail(ng-show="isAuthorized")
//    img(ng-src="{{user.avatar.url}}")
//    h6 {{user.name}}
//
//div.login-btn(ng-show="!isAuthorized") Login with Facebook

div

  h6: strong Coupon Codes
  p Often called by many names, deals, promo codes, online coupons, and coupon codes, these offers provide the tools consumers need to reduce the costs when shopping online for services and merchandise.



