div.secondary(ng-controller="SidebarController")

  div.nav-module

      nav
        ul.n1
          li
            a(ng-href="/listings/category/all") All
          li
            a(ng-href="/listings/category/restaurants") Restaurants
          li
            a(ng-href="/listings/category/home-office") Home &amp; Office
          li
            a(ng-href="/listings/category/services") Services
          li
            a(ng-href="/listings/category/automotive") Automotive
          li
            a(ng-href="/listings/category/entertainment-travel") Entertainment &amp; Travel
          li
            a(ng-href="/listings/category/personal-care") Personal Care
          li
            a(ng-href="/listings/category/general") General
          li
            a(ng-href="/listings/category/health") Health
          li
            a(ng-href="/listings/category/shops") Shops

  //- form
  //-   ul
  //-     li
  //-       input(type="checkbox", ng-model="listingFilter.lists.vpPrintable")
  //-       label Printable Coupons
  //-     li
  //-       input(type="checkbox", ng-model="listingFilter.lists.deals")
  //-       label Purchase Deals
  //-     li
  //-       input(type="checkbox", ng-model="listingFilter.lists.sdc")
  //-       label Coupon Codes
  //-     li
  //-       input(type="checkbox", ng-model="listingFilter.lists.grocery")
  //-       label Grocery Coupons
