div(scroll-view)

  div(loader, ng-class="{hide: !listingFilter.loading}") Happy saving, saver!

  ul(ng-class="userToggles.listing_layout", paginate)
    li(ng-repeat="listing in listings", class="listing")
      div(coupontile, type="basic")


    li.listing.load-more(ng-class="{visible: scrollBottomReached}")
      div.btn(loadmore, action="appendListings()", show="listings.length > 0") Show me more <span class="icon-down-open"></span>


  div.error-msg(ng-show="gotError") <div class="icon-thumbs-down"></div> {{errorInfo}}