div.toolbar-view(ng-controller="ToolbarController")
  div
    h3
      strong.demi {{listingFilter.resultsLabel | titleCase}}




  div.button-group(data-control="layout")

    //set to grid layout
    button.icon-layout(
      ng-click="setLayout('grid')",
      ng-class="{toggled: userToggles.listing_layout == 'grid'}"
    )

    //set to grid layout
    button.icon-menu(
      ng-click="setLayout('list')",
      ng-class="{toggled: userToggles.listing_layout == 'list'}"
    )


