div.toolbar-view(fixed-child, ng-controller="ToolbarController")
  div

    #category-menu(dropdown-menu)

      button Categories

      ul(dropdown-options)
        li Item 1
        li Item 2
        li Item 3

    #radius-menu(dropdown-menu)

      button Under 25 Miles

      ul(dropdown-options)
        li Item 1
        li Item 2
        li Item 3



    div.button-group(data-control="layout")

      //set to grid layout
      button.icon-layout(
        ng-click="setLayout('grid')",
        ng-class="{toggled: userToggles.listing_layout == 'grid'}"
      )

      //set to grid layout
      button.icon-menu(
        ng-click="setLayout('list')",
        ng-class="{toggled: userToggles.listing_layout == 'list'}"
      )


