div.toolbar-view(ng-controller="ToolbarController")
  div
    h3
      strong.demi {{listingFilter.resultsLabel | titleCase}}

  div.button-group(data-control="layout")

    button.icon-layout(
      ng-click="setLayout('grid')",
      ng-class="{toggled: layout == 'grid'}"
    )

    button.icon-menu(
      ng-click="setLayout('list')",
      ng-class="{toggled: layout == 'list'}"
    )