extends layout


append header-content
  .location-status.icon-location St. Petersburg, FL
  .app-search(coupon-search)


block content

  .billboard(slow-scroll)
    div
      h1.h1 Hi, saver!
      h2.h2.subhead You look great : )

  include partials/toolbar_view



  .container

    div

      .secondary(ng-controller="SidebarController")
        div(ng-include="'partials/listings_sidebar.jade'")

      .primary
        .app-view(ng-view)
