extends layout

block content

  div#app(ng-controller="AppController")

    header
      div
        a.app-logo(href="/welcome")
          img(src="img/valpak-logo.svg")

        div(coupon-search)


    div
      div(ng-view)