extends layout


append head-content
  .location-status.icon-location St. Petersburg, FL
  .app-search(coupon-search)


block content

  .secondary(ng-controller="SidebarController")
    include partials/listings_sidebar

  .primary
    #app-view(ng-view)
