extends layout

block content

  div#fb-root

  div#app(ng-controller="AppController")

    header
      div
        a.app-logo(href="/welcome")
          img(src="img/valpak-logo-white.svg")


      div.location-status.icon-location St. Petersburg, FL

      div(coupon-search)

    div
      div(ng-view)