doctype 5
html(ng-app="app")
  head
    base(href="/")
    title Valpakr

    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")

    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/fontello.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300")

    script(src="components/modernizr/modernizr.js")
    script(src="components/jquery/jquery.min.js")
    script(src="js/lib/jqueryui.js")

    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script(src="js/build/vp.googlemap.js")

    script(src="components/angular/angular.min.js")
    script(src="components/angular-resource/angular-resource.min.js")

    script(src="js/build/app.js")
    script(src="js/build/services.js")
    script(src="js/build/controllers.js")
    script(src="js/build/filters.js")
    script(src="js/build/directives.js")

  body
    block content

