@import "compass"
@import "compass/reset"

*
  @include box-sizing(border-box)



// Layout options
// ------------------------------------
$header-type: 'fixed'
$header-height: $base-line-height * 2
$secondary-width: 220px
$primary-width: 'fluid'
$toolbar-height: 50px
//$billboard-height: $base-line-height * 7
$billboard-height: 0



$total-columns  : 12
$column-width   : 60px
$gutter-width   : 20px
$grid-padding   : $gutter-width




$hot: #E83311
$warm: #FF9D3F
$cool: #AFE8E7
$cold: #7DDDFF

$c1: #1F5B73
$c2: #1BA6A6
$c3: #1BAFBF
$c4: #F2EFC4
$c5: #CCD96A

$ease-out-bounce: cubic-bezier(0.175, 0.885, 0.320, 1.275)



// Typography
// ------------------------------------
$app-font: 'proxima-nova-soft', sans-serif


// Helpers
// ------------------------------------
@mixin figure($width)
  display: block
  width: $width
  img
    max-width: 100%
    height: auto


@mixin position($pos: relative, $top: 0, $left: 0, $bottom: auto, $right: auto)
  position: $pos
  top: $top
  left: $left
  right: $right
  bottom: $bottom
