#app > header

  if s("fixed-header")
    // position fixed
    z-index: 9998

  position relative
  width 100%
  height header-height

  background c3

  // Header wrapper
  div:first-child

    .app-logo
      figure 80px
      position absolute
      top 50%
      left 10px
      margin-top -19px


  .location-status
    color white
    background darken(c3, 0)
    display inline-block
    padding 5px 12px
    border-radius 2px
    font-size 14px
    font-weight 400
    margin-bottom 15px
    position absolute
    right 169px
    top 10px
    line-height 20px
    cursor pointer
    &:before
      margin 0 4px 0 -6px
      font-size 17px
      color c1
      vertical-align -1px
    &:hover
      background darken(c3, 4)


