@import 'nib'
@import 'grid'
@import 'vp.buttons'
@import 'vp.fx'
@import 'business_profile'

total-width = 100%;

*
  box-sizing: border-box

.fill-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

html
  height: 100%


body
  padding: 0
  margin: 0
  height: 100%
  font-family: 'Open Sans', sans-serif
  background: #FFF
  background: #ececec url('../img/bg.png') repeat

  .body-wrap
    background: #ececec url('../img/bg.png') repeat
    width: 100%
    min-height: 100%
    //overflow-y: scroll
    left: 0
    transition: left .1s ease-out
    position: relative
    z-index: 2
    box-shadow: -1px 0 10px rgba(0,0,0,0.8)

    & > header
      background: linear-gradient(top, #fefefe, #f8f8f8)
      box-shadow: 0px 1px 3px rgba(0,0,0,.2)
      padding: 0 20px
      position: relative
      overflow: hidden
      position: fixed
      width: 100%
      box-sizing: border-box
      z-index: 2

  .header-box
    margin: 0 auto
    width: 1200px



  .app-logo
    width: 80px
    margin: 7px 0 0 0

.plain
  margin: 0
  padding: 0
  list-style: none

#container
  //@extend .fill-container
  margin: 0 auto
  box-sizing: border-box
  clearfix()


  [ng-view]
    //@extend .fill-container


#listings-layout
  position: relative
  margin: 70px auto
  width: 1200px
  clearfix()

  // sidebar
  // & > div:nth-child(1)
  #sidebar
    column(3)
    width: 252px
    margin: 0
    border-radius: 3px
    position: fixed

  // results listing
  // & > div:nth-child(2)
  #maincolumn
    column(9)
    offset(3)
    margin: 0 0 0 257px
    width: 954px

  .navigation
    font-weight: 500
    margin-bottom: 10px

    ul
      list-style-type: none
      margin: 0
      padding: 0px
      clearfix()

      li
        border-bottom: 1px solid rgba(200,200,200, 0.2)
        margin: 0
        padding: 0 15px
        font-size: 13px
        background: linear-gradient(top, #fefefe, #fbfbfb)
        &:last-child
          border: 0

        a
          padding: 0 5px
          line-height: 34px
          text-decoration: none
          display: block
          color: #00407b
          position: relative
          font-weight: 700

        label
          padding: 0 5px
          line-height: 34px
          color: #00407b
          position: relative
          font-weight: 700

.main-nav-check
  display: none

.device-navigation
  position: absolute
  top: 50px
  width: 300px
  height: 100%
  background: linear-gradient(right, #00407b, #004f99)
  overflow: hidden
  z-index: 1

  a
    display: block
    // background: linear-gradient(#3E3E3E, #383838)
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white
    text-decoration: none
    padding: 6px 10px
    &:hover, &:focus
      background: #3E3E3E

.close-menu
  display: none

#main-nav-check:checked + #main-nav
  width: 85%

#main-nav-check:checked ~ #listings-layout #maincolumn
  width: 15%

  .open-menu
     display: none

  .close-menu
     display: block

#sidebar,
#device-sidebar
  display: none

#solr-search
  float: right
  margin: 7px 0 0 0

  .search-input
    border: 1px solid #DDD
    width: 300px
    font-size: 16px
    line-height: 24px
    padding: 4px 9px
    display: inline-block
    margin: 0
    border-radius: 2px
    font-family: 'Varela Round', sans-serif
    &:focus
      outline: none
      box-shadow: 0px 0px 10px rgba(10,180,255, 0.5)

  .submit
    font-size: 14px
    line-height: 24px
    vertical-align: top
    padding: 4px 3px
    display: inline-block
    border: 0
    margin: 0 0 0 -35px
    background: transparent
    font-size: 18px
    cursor: pointer
    color: #444

.listing
  clearfix()
  display: inline-block
  width: 50%
  vertical-align: top

.tile
  background: #FFFFFF
  margin: 10px
  box-sizing: border-box
  box-shadow: 0px 1px 2px rgba(0,0,0,.1)
  clearfix()

.tile_basic
  .media-img
    width: 100px
    min-height: 66px
    img
      max-width: 100%
      height: auto

  .tile-businessname
    margin: 0
    color: #999

  .tile-offertext
    margin: 0
    font-size: 20px
    font-weight: 100

  .tile-location-detail
    display: inline-block
    font-size: 14px
    color: #999
    padding: 10px 0 0 15px
    overflow: ellipsis

    p
      margin: 0

  footer
    clearfix()
    background: #fafafa
    border-top: 1px solid #EEE
    .btn
      @extend .button-main
      float: right

.tile-dealdetail
  background-color: #eff1d9
  border-top: 1px solid #e0e3b4
  border-bottom: 1px solid #e0e3b4
  text-align: center
  float: left
  width: 100%
  padding: 5px 0

  .col-divider-r
    border-right: 1px solid #dddfc0

  .col-mini
    display: inline-block
    width: 28%
    zoom: 1

  .col-mini p
    margin: 0 5px
    font-size: 0.9em

  .highlight-heavy
    color: #007fb7
    font-weight: bold
    font-size: 18px

.listings-header
  background: linear-gradient(top, #004a8e, #00407b)
  text-shadow: #222 0px -1px 1px
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  margin: 0 10px
  overflow: hidden
  position: relative

  .closeDeviceMenu
    display: none

  .toggle-menu
    text-align: center
    display: none
    position: absolute
    right: 0px
    top: 0
    bottom: 0
    background: #007fb7
    border: 0
    cursor: pointer
    font-size: 34px
    color: #FFF
    width: 60px
    margin: 0
    padding: 0

  .sorted-by
    position: absolute
    top: 15px
    right: 0

    ul
      clearfix()

      li
        float: left
        margin-right: 15px

  h3
    border-top-right-radius: 3px
    color: #FFF
    font-size: 17px
    font-weight: 500
    padding: 15px 15px
    margin: 0
    text-shadow: 0 -1px 1px #292929

  a
    color: #FFF
    font-size: 12px
    text-decoration: none

#print-coupon span
  font-size: 18px

.off-link
  color: #B8B3AB
  cursor: default
  text-decoration: none

.loader
  position: absolute
  top: 50%
  left: 50%
  width: 31px
  height: 31px

.media
  margin: 20px
  clearfix()

  .media-img
    float: left;
    margin-right: 20px

  .media-body
    overflow: hidden

.tile_detail
  @extend .tile_basic
  margin: 0 0 10px 0
  float: none

  .tile-offerinfo
    clearfix()
    position: relative

  .tile-offertext
    font-weight: 700
    margin-bottom: 0

  .tile-description
    float: left
    padding: 20px

  .tile-disclaimers
    margin-right: 10%
    font-size: 16px
    font-weight: 300
    margin: 0

  button
    color: #00407b
    height: 100%
    font-size: 34px
    cursor: pointer
    background: transparent
    margin: 0
    padding: 0
    position: absolute
    top: 0
    bottom: 0
    right: 0
    width: 80px
    border: 0
    border-left: 1px dashed #DDD
    &:nth-child(1)
      right: 80px
      //background: #d6f400
    &:hover
      background: #FAFAFA


/* ------------------------------------------- */
/*  Responsive Grid:
/*
/*  1. Tablet
/*  2. Mobile Portrait
/*  3. Mobile Landscape
/* ------------------------------------------- */
@media only screen and (min-width: 100px) and (max-width: 1140px)
  #listings-layout
    width: 100%
    margin: 70px auto

  #listings-layout #maincolumn
    column(9)
    offset(3)

  #listings-layout #sidebar
    column(3)
    margin: 0
    width: 252px

  body .body-wrap > header
    padding: 0 10px

  body .header-box
    width: 1000px
    margin: 0 auto

  .listings-header .toggle-menu
    display: none

  #listings-layout #sidebar
    display: block

  #listings-layout #device-sidebar,
  #device-sidebar,
  #sidebar
    display: none


/*------------------------------------------------------------------*/
/*  1) Note: Design for a width of 768 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px)
  #container
    width: 768px

  #listings-layout #maincolumn
    margin-left: 0
    width: 768px

  #listings-layout #device-sidebar,
  #listings-layout #sidebar,
  #sidebar
    display: none

  #device-sidebar
    display: block

  .listings-header .sorted-by
    display: none

  #solr-search .search-input
    width: auto

  body .body-wrap > header
    padding: 0 10px

  body .header-box
    margin: 0
    width: auto

  .listings-header .toggle-menu
    display: block


/*------------------------------------------------------------------*/
/*  2) Note: Design for a width of 600 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 767px)
  #container
    width: 100%

  #listings-layout
    width: 100%
    margin-top: 50px

  #listings-layout #maincolumn
    margin: 0
    width: 100%

  #listings-layout #device-sidebar,
  #listings-layout #sidebar,
  #sidebar
    display: none

  #device-sidebar
    display: block

  .listings-header .sorted-by
    display: none

  #solr-search .search-input
    width: auto

  body .body-wrap > header
    padding: 0 10px

  body .header-box
    margin: 0
    width: auto

  .listings-header
    margin: 0
    border-radius: 0

  .listings-header .toggle-menu
    display: block

  .media-img
    width: 100px
    min-height: 66px
    img
      max-width: 100%
      height: auto


@media only screen and (min-width: 1023px) and (max-width: 1239px)
  #listings-layout
    width: 1000px
    margin: 70px auto
    #sidebar
      margin: 0
    #maincolumn
      margin: 0 0 0 257px
      width: 753px

  #listing-detail
    width: 1000px
    & > div:nth-child(1)
      width: 440px
      .business-map
        width: 440px !important

    & > div:nth-child(2)
      width: 540px



    .tile-description
      width: 350px

  .header-box
    width: 1000px !important

/*------------------------------------------------------------------*/
/*  2) Note: Design for a width of 480 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 599px)


  #container
    width: 100%

  #listings-layout
    width: 100%
    margin-top: 50px

  #listings-layout #maincolumn
    margin-left: 0
    width: 100%

    ul
      row(12);
      width: 100%
      margin: 5px 0 0 0

      li
        column(12,12)

  #listings-layout #device-sidebar,
  #listings-layout #sidebar,
  #sidebar
    display: none

  #device-sidebar
    display: block

  .listings-header
    margin: 0 0 0 0
    border-radius: 0

  .listings-header .sorted-by
    display: none

  #solr-search .search-input
    width: auto

  body .body-wrap > header
    padding: 0 10px

  body .header-box
    margin: 0
    width: auto

  .listings-header
    // position: fixed
    width: 100%

  .listings-header .toggle-menu
    display: block



  .tile-dealdetail .col-mini
    width: 26%

  .tile-dealdetail .col-mini p
    font-size: 0.7em
    margin: 0




/*------------------------------------------------------------------*/
/*  3) Note: Design for a width of 320 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 479px)
  #listings-layout #maincolumn
    column(12)
    width: 100%
    margin: 0

    ul
      row(12);
      width: 100%
      margin: 10px 0 0 0

      li
        column(12,12)

  #container
    width: 100%

  #listings-layout
    width: 100%
    margin-top: 50px
    .media-img
      width: 60px;
      height: 60px;
      img
        max-width: 100%
        height: auto

  #listings-layout #maincolumn
    margin-left: 0
    width: 100%
      & > ul
        margin-top: 20px;

  #listings-layout #device-sidebar,
  #listings-layout #sidebar,
  #sidebar
    display: none

  #device-sidebar
    display: block

  .listings-header .sorted-by
    display: none

  #solr-search .search-input
    width: auto

  body .body-wrap > header
    padding: 0 10px

  body .header-box
    margin: 0
    width: auto

  .listings-header
    margin: 0 0 0 0
    border-radius: 0
    // position: fixed
    width: 100%

  .listings-header .toggle-menu
    display: block


  .tile-dealdetail .col-mini
    width: 27%

  .tile-dealdetail .col-mini p
    font-size: 0.8em

  .tile
    margin: 5px 10px





.slideOutRight
  .listings-header h3
    position: relative
    left: 60px
  .closeDeviceMenu
    padding: 0
    margin: 0
    display: block !important
    position: absolute
    width: 50px
    border: 0
    background: #007fb7
    font-size: 26px
    color: #FFF
    top: 0
    left: 0
    bottom: 0
