.button-main
  font-family: 'Open Sans', sans-serif
  border: 0
  margin: 5px
  display: inline-block
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .1)
  border-radius: 2px
  border: 1px solid #0071a3
  background: linear-gradient(top, #007fb7, #0071a3)
  color: #FFF
  font-size: 14px
  font-weight: 300
  line-height: 1.5em
  padding: .3em 1.2em
  text-decoration: none
  &:hover
    background: #0071a3

.btn-green
  background: linear-gradient(top, #8bd600, #77b700) !important
  border-color: #77b700 !important